<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Nesting templates</title>
    </head>
    <body>
    {{ template "header" }}
        <ul>
           <h2> Hello </h2>
        </ul>
    </body>
</html>