<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Func over templates</title>
    </head>
    <body>
        <ul>
            <li> {{ sayHi }} </li>
        </ul>
    </body>
</html>